{% for pv in vol %}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv.name }}
spec:
  capacity:
    storage: {{ pv.size }}
  accessModes:
  - ReadWriteOnce
  nfs:
    path: /mnt/disks/{{ pv.name }}
    server: 10.72.48.15
  persistentVolumeReclaimPolicy: Retain
{% endfor %}
